#========================================================================
# ARCHIVO .GITIGNORE OPTIMIZADO PARA LABORATORIO DE OPENGL EN VISUAL STUDIO
#========================================================================

# Carpetas de configuración interna y temporales del IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de compilación y salida (Evita subir archivos pesados)
Debug/
Release/
x64/
x86/
[Dd]ebug/
[Rr]elease/

# Archivos intermedios de C++
*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb
*.log
